.login {
    justify-content: center;
    /* border: 3px solid #fbf702; */
    height: 50vh;
    width: 65%;
    box-shadow: 8px 8px 8px 4px black;
    margin-top: 20%;
    margin-left: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 18.3vh;
}

.loginForm {
    padding: 10px 30px 0 30px;
    color: white;
    text-align: left;
}

.label {
    margin: 0;
    color: #48306e;
    font-weight: 500;
}

.emailTextInput {
    margin: 0px 0 0px 0;
}

.googleLogin {
    width: 83%;
    margin: 10px 30px 10px 30px;
    background: #624099 !important;
    text-align: center !important;
    color: white !important;
    height: 41px;
}
  
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 45vh;
}

.header1 {
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin-top: 20%;
}

.emaillabel {
    padding-top: 32px;
    color: #48306e;
    font-weight: 500;
}

.googlecustombtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 83%;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin: 0 0 30px 30px;
    height: 41px;
    letter-spacing: 1px;
}

.footer {
    width: 100%;
    /* height: 100px; */
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 23px;
    color: white;
}

.footer > .mny {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbf702;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;  
}

@media only screen and (max-width: 768px) {
    .header1 {
        font-size: 30px;
    }
    .image {
        height: 250px;
        width: 250px;
        margin-top: 30px;
    }
    .login {
        margin-top: 56px;
        height: 350px;
        box-shadow: 7px 7px 7px black;
        margin-bottom: 80px;
        background: white;
        width: 70%;
    }
    .emaillabel {
        padding-top: 22px;
        color: black;
    }
    .label {
        color: black;
    }
    .emailTextInput {
        border: 1px solid grey;
    }
    .googlecustombtn {
        border: 1px solid grey !important;
        height: fit-content;
    }
    .image {
        display: none;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
    .loginBody {
        height: 92.4vh;
    }
    .header1 {
        font-size: 25px;
    }
    .login {
        margin-top: 55px;
        height: 350px;
        box-shadow: 7px 7px 7px black;
        margin-bottom: 80px;
        background: white;
        width: 75%;
    }
    .emaillabel {
        padding-top: 22px;
        color: black;
    }
    .label {
        color: black;
    }
    .emailTextInput {
        border: 1px solid transparent;
        border-bottom: 2px solid #48306e ;
        border-radius: 8px;
    }
    .googlecustombtn {
        border: 1px solid transparent !important;
        height: fit-content;
        width: 80%;
        border-bottom: 1px solid #48306e !important;
        border-radius: 50px !important;
    }
    .image {
        display: none;
    }
    .googleLogin {
        width: 80%;
        border-radius: 50px;
        height: 40px;
        margin-bottom: 10px;
    }
    .footer {
        font-size: 13.5px;
    }   
}